#website {margin-top: 8em;}

.service-details {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 2em;
}

.service-details img {
  width: 36%;
  padding: 1em;
}

.service-details .section-text {
  width: 64%;
  text-align: justify;
  padding: .5em;
}

.service-details .section-text h3 {
  color: var(--color-primary);
  margin: 1em 0;
}

@media (max-width: 900px) {
  #website {margin-top: 4em;}
}
