#annonce {margin-top: 8em;}

hr{
  color: #ccc;
  border: 1px solid;
}
.service-details {
  display: flex;
  flex-flow: row wrap;
  padding: 0 2em;
}

.service-details .section-annonce {
  width: 40%;
  padding: 1em;
}

.service-details .section-text {
  width: 60%;
  text-align: justify;
  padding: .5em;
}

.service-details .section-text img {
  border-radius: 1em;
}

.service-details .section-text video {
  border-radius: 1em;
}

.service-details .section-text h3 {
  color: var(--color-primary);
  margin: 1em 0;
}

.service-details .section-annonce h3 {
  color: var(--color-primary);
  text-align: center;
  margin: 1em 0;
}

.service-details .section-annonce video {
  border-radius: 1em;
  width: 100%;
}


.section-text .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.section-text .input-box input,
.section-text .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  font-family: Poppins;
}

.section-text .message-box{
  min-height: 110px;
}
.section-text .input-box textarea{
  padding-top: 6px;
}
.section-text .button{
  display: inline-block;
  margin-top: 12px;
}
.section-text .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: .75em 1.5em;
  border-radius: 6px;
  background: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: var(--color-secondary);
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.img-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1em;
}

.img-div img {
  background: center no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 1em;
  
}



@media (max-width: 900px) {
  #annonce {margin-top: 4em;}
  .section-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
}

@media (max-width: 800px) {
  #annonce {margin-top: 4em;}
  .section-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
}

@media (max-width: 640px) {
  #annonce {margin-top: 4em;}
  .section-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
}
