#annonce {margin-top: 8em;}

.annonce-one h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
  font-size: 20px;
  margin: auto;
  color: var(--text-color);
  margin-bottom: 1.5em;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-secondary);
}

.annonce-one {
  width: 90%;
}

hr{
  color: #ccc;
  border: 1px solid;
}
.annonce-details {
  display: flex;
  flex-flow: row wrap;
  padding: 0 2em;
}

.annonce-details .section-annonce {
  width: 40%;
  padding: 1em;
}

.annonce-details .annonce-text {
  width: 60%;
  text-align: justify;
  padding: .5em;
}

.annonce-details .annonce-text img {
  border-radius: 1em;
}

.annonce-details .annonce-text video {
  border-radius: 1em;
}

.annonce-details .annonce-text h3 {
  color: var(--color-primary);
  margin: 1em 0;
}

.annonce-details .section-annonce h3 {
  color: var(--color-primary);
  text-align: center;
  margin: 1em 0;
}

.annonce-details .section-annonce video {
  border-radius: 1em;
  width: 100%;
}


.annonce-text .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.annonce-text .input-box input,
.annonce-text .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  font-family: Poppins;
}

.annonce-text .message-box{
  min-height: 110px;
}
.annonce-text .input-box textarea{
  padding-top: 6px;
}
.annonce-text .button{
  display: inline-block;
  margin-top: 12px;
}
.annonce-text .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: .75em 1.5em;
  border-radius: 6px;
  background: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: var(--color-secondary);
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.img-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1em;
}

.img-div img {
  background: center no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 1em;
  
}

@media (min-width: 901px) {
  .annonce-one h1 {width: 35vw;}
}

@media (min-width: 1128px) {
  .annonce-one h1 {width: 25vw;}
}


@media (max-width: 900px) {
  #annonce {margin-top: 4em;}
  .annonce-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
  .annonce-one h1 {width: 50vw;}
}

@media (max-width: 800px) {
  #annonce {margin-top: 4em;}
  .annonce-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
}

@media (max-width: 640px) {
  #annonce {margin-top: 4em;}
  .annonce-text {width: 100% !important;}
  .section-annonce {width: 100% !important;}
}
