.privacy-one h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 20px;
    margin: auto;
    color: var(--text-color);
    margin-bottom: 1.5em;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-secondary);
}

.blogs-one h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 20px;
    margin: auto;
    color: var(--text-color);
    margin-bottom: 1.5em;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-secondary);
}

#privacy {
    margin-top: 8em;
}

.privacy-details {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 2em;
}

.privacy-one {
    width: 70%;
}

.blogs-one {
    width: 90%;
}

.privacy-details .privacy-text {
    /* width: 100%; */
    text-align: justify;
    padding: .5em;
}

.privacy-details .privacy-text h3 {
    color: var(--color-primary);
    text-align: center;
    margin: 1em 0;
}

li{
    margin-left: 2em;
}
@media (max-width: 900px) {
    .privacy-one {
        width: 100%;
    }
    
    .blogs-one {
        width: 100%;
    }
    #website {
        margin-top: 4em;
    }

    .privacy-one h1 {
        width: 50vw;
    }

    .blogs-one h1 {
        width: 50vw;
    }

    .privacy-details .privacy-text {
        text-align: justify;
    }
}

@media (min-width: 901px) {
    .privacy-one h1 {
        width: 35vw;
    }

    .blogs-one h1 {
        width: 35vw;
    }

    .privacy-details .privacy-text {
        text-align: justify;
    }
}

@media (min-width: 1128px) {
    .privacy-one h1 {
        width: 25vw;
    }

    .blogs-one h1 {
        width: 25vw;
    }

    .privacy-details .privacy-text {
        text-align: justify;
    }
}