.img-recherche {
    position: relative;
    width: 92vw;
    aspect-ratio: 32/5;
    margin: 1em;
}

.img-recherche .recherche {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-recherche .recherche.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-recherche .recherche img {
    z-index: 1;
    width: 100%;
    border-radius: 1em;
}

@media (min-width: 901px) {
    .first-recherche {
        margin-top: 6em;
    }

    .company-recherche {
        margin-top: 4.5em;
    }
}

@media (max-width: 900px) {
    .company-recherche {
        margin-top: -1.25em;
    }
}