.img-slider{
  position: relative;
  width: 92vw;
  aspect-ratio: 32/5;
  margin: 1em;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 1em;
}

@media (min-width: 901px) {
  .img-slider {
    margin-top: 5em;
  }
} 
