*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #0659B2;
  --color-secondary: #FFA500;
  --text-color: #414141;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  min-height: 1000px;
  margin-top: 1em;
}

.flag {
  margin-right: .5em;
}

body {
  font-family: Poppins;
  background: #f4f4f4;
}

nav {
  position: fixed;
  top: 0;
  font-family: Montserrat;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  height: 75px;
  z-index: 12;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
}

nav ul i {
  font-size: 12px;
  margin-left: 4px;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding: 4px 0 8px 0;
  position: absolute;
  min-width: 160px;
  width: 275px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 4px;
  text-decoration: none;
  display: block;
}

.dropdown-content .name {
  margin: 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .initials {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: .25em 1em;
}

.dropdown-content a i {
  font-size: 1em;
  margin-right: .75em;
}

.dropdown .initials i {
  margin-right: .25em;
}

/* END DROPDOWN */

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
}

.nav-icon img {
  height: 36px;
}

.hamburger {
  display: none;
}

.navlinks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks-container a {
  margin: 10px 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  position: relative;
}



.navlinks-container .current {
  color: var(--color-primary);
  text-transform: capitalize !important;
}

.navlinks-container a:hover {
  color: var(--color-primary);
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--color-secondary);
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.account i {
  font-size: 32px;
  color: var(--color-primary);
  cursor: pointer;
}

.sign-user {
  display: none;
}

.map {
  border: .5em solid #fff;
  width: 100%;
  margin: 8em 4em 0 4em;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.map iframe {
  width: 100%;
  height: 18em;
  border-radius: 1em 1em 0 0;
}


/* POPUP */
.popup-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.popup-container img {
  width: 100%;
}

.popup-container .title {
  font-family: Poppins;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.popup-container .countries,
.popup-container .country_flag {
  display: flex;
  flex-direction: column;
}

.popup-container .countries {
  padding: 1em;
}

.popup-container .countries_flag {
  margin-top: 2em;
  display: flex;
  flex-flow: row wrap;
}

.popup-container .countries_flag a {
  font-size: .75em;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.popup-container .countries_flag a:hover {
  border: 1px solid var(--color-primary);
  border-radius: 1em;
}

.popup-container .countries_flag .selected {
  border: 1px solid var(--color-secondary);
  border-radius: 1em;
  background-color: rgba(255, 165, 0, .1);
}

.popup-container .country_flag {
  width: 12.5%;
  align-items: center;
}

.popup-container .countries_flag span {
  font-size: 3.25em;
  border-radius: 4px;
  margin-bottom: .25em;
  margin-left: 25%;
}

.popup-container .countries_flag img {
  font-size: 3.25em;
  border-radius: 4px;
  margin-bottom: .25em;
}

#countries_popup .modal-content {
  width: 76%;
}

#popup .modal-content {
  width: 36%;
}

@media (max-width: 1024px) {
  #countries_popup .modal-content {
    width: 84%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 900px) {
  #popup .modal-content {
    width: 48%;
  }

  #countries_popup .modal-content {
    width: 92%;
  }

  .popup-container .country_flag {
    width: 14.25%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 450px) {
  #popup .modal-content {
    width: 56%;
  }

  .popup-container .country_flag {
    width: 16.5%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 640px) {
  .popup-container .country_flag {
    width: 20%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 568px) {
  #popup .modal-content {
    width: 64%;
  }

  .popup-container .country_flag {
    width: 25%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 480px) {
  #popup .modal-content {
    width: 72%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

@media (max-width: 395px) {
  .popup-container .country_flag {
    width: 33.25%;
  }

  .sb-container {
    background-size: 100% 100%;
  }
}

/* END POPUP */

/* SEARCH BOX */

.sb-container {
  width: 100%;
  height: auto;
  aspect-ratio: 10/1;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 6px solid rgb(255 255 255 / 72%);
  box-shadow: 0 4px 12px -2px rgb(0 0 0 / 12%);
}

.search-text {
  width: 100%;
}

.search-text h1 {

  width: 70%;
  margin: 0 15%;
  padding-bottom: 1.25em;
  color: #fff;
  text-align: center;
  text-shadow: 2px 5px 16px rgb(0 0 0 / 72%);
}

.search-dualbutton {
  font-size: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 4px 12px -2px rgb(0 0 0 / 12%);
  border: 4px solid rgb(255 255 255 / 32%);
  border-radius: 1.5em;
  padding-left: 4px;
}

.search-dualbutton button {
  color: #fff;
  font-family: Montserrat;
  font-size: 1em;
  border: none;
  background-color: var(--color-secondary);
}

.search-dualbutton button:hover {
  background-color: #764e04;
  cursor: pointer;
}

.search-dualbutton .btn:first-child {
  border-radius: 1.25em 0 0 1.25em;
}

.search-dualbutton .btn:nth-child(2) {
  border-radius: 0 1.25em 1.25em 0;
}

.search-dualbutton .btn-active {
  background-color: #b4790d;
}

.search-dualbutton .btn {
  padding: .6em 1.2em;
  margin-left: -4px;
  text-shadow: 2px 5px 16px rgb(0 0 0 / 72%);
}

.search-bar {
  width: 100%;
  margin-bottom: 3em;
}

.search-form {
  width: 80%;
  margin: 0 10%;
  padding: .5em;
  border-radius: 4em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.search-form .search-field {
  background: #fff;
  padding: .5em;
  border-radius: 4em;
  margin: .5em;
  box-shadow: 2px 4px 12px -2px rgb(0 0 0 / 36%);
}

.search-form .search-field input,
.search-form .search-field select {
  padding: .5em 1em;
  border: none;
  outline: none;
  font-size: 1em;
  width: 85%;
  float: right;
  font-family: Montserrat;
  color: var(--text-color);
}

.search-form .search-field i {
  width: 15%;
  float: left;
  font-size: 1.25em;
  padding: .5em 0;
  align-items: center;
  color: var(--color-primary);
  padding-left: 1em;
}

.search-form .search-button {
  padding: 1em;
  font-size: 1em;
  color: #fff;
  font-family: Montserrat;
  font-size: 1em;
  margin: .5em;
  background: var(--color-secondary);
  text-shadow: 0 5px 10px rgb(140 88 0 / 96%);
  border: none;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 2px 4px 12px -2px rgb(0 0 0 / 12%);
}

.search-form .search-button:hover {
  background: var(--color-primary);
}

/* END SEARCH BOX */

.section-one {
  width: 100%;
}

.blog-one {
  width: 100%;
}

.advertising {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 38%;
  min-height: 500px;
}

.categories {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 3em;
  width: 58%;
  box-shadow: 0 5px 10px rgb(100 100 100 / 10%);
}

.categories-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-title {
  font-size: 1em;
  font-family: Montserrat;
  color: var(--text-color);
  padding: 1em 1.5em;
}

.category-link {
  margin: 3em 0 0 2em;
}

.category-link a {
  text-decoration: none;
  color: var(--text-color);
}

.category-link a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color-secondary);
}

.category-link a i {
  color: var(--color-primary);
  margin-right: 4px;
}

.category {
  width: 32%;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category p {
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 1em;
}

.category:nth-child(2),
.category:nth-child(5),
.category:nth-child(8),
.category:nth-child(3n+0) {
  margin-left: 2%;
}

.category a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: .5em;
}

.category a:hover {
  border-bottom: 4px solid var(--color-secondary);
  background-color: rgba(255, 165, 0, .1);
  transition: all 300ms ease-out;
  padding: 1em .5em;
}

.category i {
  font-size: 2.5em;
  --fa-primary-color: var(--color-primary);
  --fa-secondary-color: var(--color-primary);
  --fa-secondary-opacity: .4;
}

@media (max-width: 550px) {
  .category {
    width: 48%;
    padding: 1em;
  }

  .category:nth-child(2),
  .category:nth-child(5),
  .category:nth-child(8),
  .category:nth-child(3n+0) {
    margin-left: 0;
  }

  .category:nth-child(2n+0) {
    margin-left: 4%;
  }
}


.section-one:nth-child(2) {
  display: flex;
  justify-content: center;
}

.blog-one:nth-child(2) {
  display: flex;
  justify-content: center;
}

.section-one h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
  font-size: 16px;
  margin: auto;
  color: var(--text-color);
  margin-bottom: 1.5em;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-secondary);
}

.blog-one h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
  font-size: 20px;
  margin: auto;
  color: var(--text-color);
  margin-bottom: 1.5em;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-secondary);
}

.white-bkg {
  background-color: #fff;
  padding: 3em 0;
}

.blue-bkg {
  background-color: var(--color-primary);
  padding: 3em 0;
}

.blue-bkg h1 {
  color: #fff;
}

.youtube {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 1em;
}

.section-one .youtube-video {
  width: 75%;
  height: auto;
  margin: 0 12.5%;
  margin-bottom: 1em;
  aspect-ratio: 16 / 9;
  border-radius: 1em;
}

.magazines {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 85%;
  margin: auto;
}

.magazines .magazine {
  width: 32%;
  height: auto;
  margin-top: 3em;
}

.magazines .magazine:nth-child(2),
.magazines .magazine:nth-child(3) {
  margin-left: 2%;
}

.magazine .magazine-details {
  border: 2px solid var(--color-secondary);
  width: 86%;
  position: relative;
}

.magazine-details button {
  background: var(--color-secondary);
  padding: .5em 1em;
  font-size: 16px;
  border-style: none;
  z-index: 5;
  position: absolute;
  bottom: 6em;
  left: 1em;
}

.magazine-details button:hover {
  background: var(--color-primary);
  transition: all 0.5s ease;
  margin-left: 1.5em;
}

.magazine-details button a {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  text-shadow: 0 5px 10px rgb(140 88 0 / 96%);
}

.magazine .magazine-img {
  position: relative;
  width: 100%;
  margin-right: -14%;
  margin-top: -20%;
  float: right;
  border: 4px solid #fff;
  box-shadow: 0 5px 10px rgb(100 100 100 / 25%);
}

.magazine .social-links {
  width: calc(45px * 3);
  margin-left: auto;
}

.magazine .social-links a {
  display: inline-block;
  height: 2em;
  width: 2em;
  background-color: var(--color-primary);
  margin: 1.2em 0;
  margin-left: 4px;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.magazine .social-links a:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  line-height: calc(2em - 2px);
  background-color: #fff;
}

/* HIGHLIGHTS */

.highlights,
.advertorials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 88%;
  margin: 0 6%;
}

.blogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 88%;
  margin: 0 6%;
}

.highlights .hightlighted-company {
  width: 32%;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgb(100 100 100 / 10%);
}

.highlights .hightlighted-company:nth-child(2),
.highlights .hightlighted-company:nth-child(3) {
  margin-left: 2%;
}

.hightlighted-company img {
  width: 100%;
  border-radius: .5em;
}

.hightlighted-company .highlight-links button {
  border: none;
  background-color: var(--color-primary);
  padding: .5em 1em;
  border-radius: 1em;
  cursor: pointer;
  margin-top: .5em;
}

.hightlighted-company .highlight-links button:hover,
.hightlighted-company .highlight-links button:nth-child(2):hover {
  background: var(--text-color);
  transition: all 0.25s ease;
}

.hightlighted-company .highlight-links button i {
  color: #fff;
}

.hightlighted-company .highlight-links button a {
  text-decoration: none;
  font-family: Montserrat;
  color: #fff;
}

.hightlighted-company .highlight-links button:nth-child(2) {
  background-color: var(--color-secondary);
  text-shadow: 2px 5px 16px rgb(0 0 0 / 72%);
}

@media (max-width: 900px) {
  .hightlighted-company .highlight-links button:nth-child(2) {
    margin-top: .5em;
  }
}

@media (max-width: 767px) {
  .highlights .hightlighted-company {
    width: 48%;
  }

  .highlights .hightlighted-company:nth-child(2) {
    margin-left: 4%;
  }

  .highlights .hightlighted-company:nth-child(3) {
    margin-left: 0;
    margin-top: 1.5em;
  }

}

@media (max-width: 640px) {
  .highlights .hightlighted-company {
    width: 96%;
  }

  .highlights .hightlighted-company:nth-child(2),
  .highlights .hightlighted-company:nth-child(3) {
    margin-left: 0;
    margin-top: 1.5em;
  }

}

/* END HIGHLIGHTS */

/* ADVERTORIAL */
.advertorials .advertorial {
  width: 32%;
  position: relative;
  margin-top: 0.75em;
  display: flex;
  align-items: center;
}

.blogs .blog {
  margin-bottom: 15%;
  width: 30%;
  position: relative;
  margin-top: 0.75em;
  display: flex;
  align-items: center;
}

.advertorials .advertorial:nth-child(3n+0),
.advertorials .advertorial:nth-child(3n-1) {
  margin-left: 2%;
}

.blogs .blog:nth-child(3n-1),
.blogs .blog:nth-child(3n+0) {
  margin-left: 2%;
}

.advertorial img {
  border-radius: 1em;
  width: 100%;
  aspect-ratio: 16/9;
}

.blog img {
  border-radius: 1em;
  width: 100%;
  aspect-ratio: 16/9;
}

.advertorial a {
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1em;
  color: var(--text-color);
  padding: .5em 1em;
  box-shadow: 0 5px 10px rgb(100 100 100 / 10%);
  position: absolute;
  bottom: 1.5em;
  top: inherit;
  left: 1em;
  z-index: 2;
}

.blog .description {
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1em;
  color: var(--text-color);
  padding: .5em 1em;
  box-shadow: 0 5px 10px rgba(18, 15, 15, 0.1);
  position: absolute;
  top: 8em;
  margin-bottom: 10%;
  left: 1em;
  right: 1em;
  z-index: 2;
}

.advertorial a:hover {
  margin-left: 1em;
  transition: all .3s ease-out;
}

.advertorial a i {
  margin-right: .5em;
  color: var(--color-primary);
}

.advertorial .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .25s ease;
  border-radius: 1em;
}

.advertorial:hover .overlay {
  width: 100%;
}

.blog:hover .overlay {
  width: 100%;
}

@media (max-width: 950px) {
  .blogs {
    margin: 0;
  }

  .blogs .blog {
    width: 48%;
    margin-top: 1.2em;
    margin-bottom: 15%;
  }

  .blog .description {
    font-size: 12px;
    top: 8em;
    left: 1em;
    right: 1em;
    z-index: 2;
  }

  .blogs .blog:nth-child(3n+0),
  .blogs .blog:nth-child(3n-1) {
    margin-left: 0;
  }

  .blogs .blog:nth-child(2n+0) {
    margin-left: 4%;
  }
}

@media (max-width: 801px) {
  .advertorials .advertorial {
    width: 48%;
    margin-top: 1.2em;
  }

  .blogs .blog {
    margin-top: 1.2em;
    margin-bottom: 10%;
  }

  .advertorials .advertorial:nth-child(3n+0),
  .advertorials .advertorial:nth-child(3n-1) {
    margin-left: 0;
  }

  .blogs .blog:nth-child(3n+0),
  .blogs .blog:nth-child(3n-1) {
    margin-left: 0;
  }

  .advertorials .advertorial:nth-child(2n+0) {
    margin-left: 4%;
  }

  .blogs .blog:nth-child(2n+0) {
    margin-left: 2%;
  }

  .blog .description {
    font-size: 9px;
    top: 8em;
    left: 1em;
    right: 1em;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .blogs {
    margin: auto
  }

  .advertorials .advertorial {
    width: 96%;
  }

  .blogs .blog {
    width: 96%;
    margin-bottom: 20%;
  }

  .advertorials .advertorial:nth-child(2n+0) {
    margin-left: 0;
  }

  .blogs .blog:nth-child(2n+0) {
    margin-left: 0;
  }

  .blog .description {
    font-size: 12px;
    top: 8em;
    left: 1em;
    right: 1em;
    z-index: 2;
  }
}

@media (max-width: 450px) {
  .blogs {
    margin: auto;
  }

  .blogs .blog {
    margin-top: 1.2em;
    margin-bottom: 25%;
  }

  .blog .description {
    font-size: 9px;
    top: 8em;
    left: 1em;
    right: 1em;
    z-index: 2;
  }

  .blogs .blog:nth-child(3n+0),
  .blogs .blog:nth-child(3n-1) {
    margin-left: 0;
  }

  .blogs .blog:nth-child(2n+0) {
    margin-left: 4%;
  }
}

@media (max-width: 380px) {
  .blogs {
    margin: auto;
  }

  .blogs .blog {
    margin-top: 1.2em;
    margin-bottom: 25%;
  }

  .blog .description {
    font-size: 8px;
    top: 8em;
    left: 1em;
    right: 1em;
    z-index: 2;
  }

  .blogs .blog:nth-child(3n+0),
  .blogs .blog:nth-child(3n-1) {
    margin-left: 0;
  }

  .blogs .blog:nth-child(2n+0) {
    margin-left: 4%;
  }
}

/* END ADVERTORIAL */

/* TOWER */
.tower-ctn {
  width: 100vw;
  height: 22em;
  margin-top: -2em;
}

.tower-ctn .drugstore {
  width: 40%;
  background: #fff;
  border-radius: 1em;
  padding: 1.5em;
  box-shadow: 0 5px 10px rgb(100 100 100 / 10%);
}

.drugstore img {
  width: 100%;
  border-radius: .5em;
}

.drugstore h3 {
  margin-top: 1em;
  font-family: Montserrat;
  color: var(--color-primary);
}

.drugstore li {
  list-style-type: none;
  font-family: Poppins;
  font-size: 14px;
  margin-top: .5em;
}

.drugstore li i {
  color: var(--color-primary);
  margin-right: .5em;
}

@keyframes display {
  0% {
    transform: translateX(20em);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-20em);
    opacity: 0;
  }

  100% {
    transform: translateX(-20em);
    opacity: 0;
  }
}

.tower-ctn {
  position: relative;
  margin-top: 15vh;
  width: 100vw;
}

.tower-ctn>.drugstore {
  position: absolute;
  top: 0;
  left: 30%;
  opacity: 0;
  animation: display 30s infinite;
}

.tower-ctn .drugstore:nth-child(1) {
  animation-delay: 0s;
}

.tower-ctn .drugstore:nth-child(2) {
  animation-delay: 5s;
}

.tower-ctn .drugstore:nth-child(3) {
  animation-delay: 10s;
}

.tower-ctn .drugstore:nth-child(4) {
  animation-delay: 15s;
}

.tower-ctn .drugstore:nth-child(5) {
  animation-delay: 20s;
}

.tower-ctn .drugstore:nth-child(6) {
  animation-delay: 25s;
}

.tower-ctn .drugstore:nth-child(7) {
  animation-delay: 30s;
}

.tower-ctn .drugstore:nth-child(8) {
  animation-delay: 35s;
}

.tower-ctn .drugstore:nth-child(9) {
  animation-delay: 40s;
}

.tower-ctn .drugstore:nth-child(10) {
  animation-delay: 45s;
}

.tower-ctn .drugstore:nth-child(11) {
  animation-delay: 50s;
}

.tower-ctn .drugstore:nth-child(12) {
  animation-delay: 55s;
}

.tower-ctn .drugstore:nth-child(13) {
  animation-delay: 60s;
}

.tower-ctn .drugstore:nth-child(14) {
  animation-delay: 65s;
}

.tower-ctn .drugstore:nth-child(15) {
  animation-delay: 70s;
}

.tower-ctn .drugstore:nth-child(16) {
  animation-delay: 75s;
}

.tower-ctn .drugstore:nth-child(17) {
  animation-delay: 80s;
}

.tower-ctn .drugstore:nth-child(18) {
  animation-delay: 85s;
}

.tower-ctn .drugstore:nth-child(19) {
  animation-delay: 90s;
}

.tower-ctn .drugstore:nth-child(20) {
  animation-delay: 95s;
}

.tower-ctn .drugstore:nth-child(21) {
  animation-delay: 100s;
}

.tower-ctn .drugstore:nth-child(22) {
  animation-delay: 105s;
}

.tower-ctn .drugstore:nth-child(23) {
  animation-delay: 110s;
}

.tower-ctn .drugstore:nth-child(24) {
  animation-delay: 115s;
}

.tower-ctn .drugstore:nth-child(25) {
  animation-delay: 120s;
}

.tower-ctn .drugstore:nth-child(26) {
  animation-delay: 125s;
}

.tower-ctn .drugstore:nth-child(27) {
  animation-delay: 130s;
}

.tower-ctn .drugstore:nth-child(28) {
  animation-delay: 135s;
}

.tower-ctn .drugstore:nth-child(29) {
  animation-delay: 140s;
}

.tower-ctn .drugstore:nth-child(30) {
  animation-delay: 145s;
}

.tower-ctn .drugstore:nth-child(31) {
  animation-delay: 150s;
}

.tower-ctn .drugstore:nth-child(32) {
  animation-delay: 155s;
}

.tower-ctn .drugstore:nth-child(33) {
  animation-delay: 160s;
}

.tower-ctn .drugstore:nth-child(34) {
  animation-delay: 165s;
}

.tower-ctn .drugstore:nth-child(35) {
  animation-delay: 170s;
}

.tower-ctn .drugstore:nth-child(36) {
  animation-delay: 175s;
}

.tower-ctn .drugstore:nth-child(37) {
  animation-delay: 180s;
}

.tower-ctn .drugstore:nth-child(38) {
  animation-delay: 185s;
}

.tower-ctn .drugstore:nth-child(39) {
  animation-delay: 190s;
}

.tower-ctn .drugstore:nth-child(40) {
  animation-delay: 195s;
}

.tower-ctn .drugstore:nth-child(41) {
  animation-delay: 200s;
}

.tower-ctn .drugstore:nth-child(42) {
  animation-delay: 205s;
}

.tower-ctn .drugstore:nth-child(43) {
  animation-delay: 210s;
}

.tower-ctn .drugstore:nth-child(44) {
  animation-delay: 215s;
}

.tower-ctn .drugstore:nth-child(45) {
  animation-delay: 220s;
}

.tower-ctn .drugstore:nth-child(46) {
  animation-delay: 225s;
}

.tower-ctn .drugstore:nth-child(47) {
  animation-delay: 230s;
}

.tower-ctn .drugstore:nth-child(48) {
  animation-delay: 235s;
}

.tower-ctn .drugstore:nth-child(49) {
  animation-delay: 240s;
}

.tower-ctn .drugstore:nth-child(50) {
  animation-delay: 245s;
}

.tower-ctn .drugstore:nth-child(51) {
  animation-delay: 250s;
}

.tower-ctn .drugstore:nth-child(52) {
  animation-delay: 255s;
}

.tower-ctn .drugstore:nth-child(53) {
  animation-delay: 260s;
}

.tower-ctn .drugstore:nth-child(54) {
  animation-delay: 265s;
}

.tower-ctn .drugstore:nth-child(55) {
  animation-delay: 270s;
}

.tower-ctn .drugstore:nth-child(56) {
  animation-delay: 275s;
}

.tower-ctn .drugstore:nth-child(57) {
  animation-delay: 280s;
}

.tower-ctn .drugstore:nth-child(58) {
  animation-delay: 285s;
}

.tower-ctn .drugstore:nth-child(59) {
  animation-delay: 290s;
}

.tower-ctn .drugstore:nth-child(60) {
  animation-delay: 295s;
}

.tower-ctn .drugstore:nth-child(61) {
  animation-delay: 300s;
}

.tower-ctn .drugstore:nth-child(62) {
  animation-delay: 305s;
}

.tower-ctn .drugstore:nth-child(63) {
  animation-delay: 310s;
}

.tower-ctn .drugstore:nth-child(64) {
  animation-delay: 315s;
}

.tower-ctn .drugstore:nth-child(65) {
  animation-delay: 320s;
}

.tower-ctn .drugstore:nth-child(66) {
  animation-delay: 325s;
}

.tower-ctn .drugstore:nth-child(67) {
  animation-delay: 330s;
}

.tower-ctn .drugstore:nth-child(68) {
  animation-delay: 335s;
}

.tower-ctn .drugstore:nth-child(69) {
  animation-delay: 340s;
}

.tower-ctn .drugstore:nth-child(70) {
  animation-delay: 345s;
}

.tower-ctn .drugstore:nth-child(71) {
  animation-delay: 350s;
}

.tower-ctn .drugstore:nth-child(72) {
  animation-delay: 355s;
}

.tower-ctn .drugstore:nth-child(73) {
  animation-delay: 360s;
}

.tower-ctn .drugstore:nth-child(74) {
  animation-delay: 365s;
}

.tower-ctn .drugstore:nth-child(75) {
  animation-delay: 370s;
}

.tower-ctn .drugstore:nth-child(76) {
  animation-delay: 375s;
}

.tower-ctn .drugstore:nth-child(77) {
  animation-delay: 380s;
}

.tower-ctn .drugstore:nth-child(78) {
  animation-delay: 385s;
}

.tower-ctn .drugstore:nth-child(79) {
  animation-delay: 390s;
}

.tower-ctn .drugstore:nth-child(80) {
  animation-delay: 395s;
}

.tower-ctn .drugstore:nth-child(81) {
  animation-delay: 400s;
}

.tower-ctn .drugstore:nth-child(82) {
  animation-delay: 405s;
}

.tower-ctn .drugstore:nth-child(83) {
  animation-delay: 410s;
}

.tower-ctn .drugstore:nth-child(84) {
  animation-delay: 415s;
}

.tower-ctn .drugstore:nth-child(85) {
  animation-delay: 420s;
}

.tower-ctn .drugstore:nth-child(86) {
  animation-delay: 425s;
}

.tower-ctn .drugstore:nth-child(87) {
  animation-delay: 430s;
}

.tower-ctn .drugstore:nth-child(88) {
  animation-delay: 435s;
}

.tower-ctn .drugstore:nth-child(89) {
  animation-delay: 440s;
}

.tower-ctn .drugstore:nth-child(90) {
  animation-delay: 445s;
}

.tower-ctn .drugstore:nth-child(91) {
  animation-delay: 450s;
}

.tower-ctn .drugstore:nth-child(92) {
  animation-delay: 455s;
}

.tower-ctn .drugstore:nth-child(93) {
  animation-delay: 460s;
}

.tower-ctn .drugstore:nth-child(94) {
  animation-delay: 465s;
}

.tower-ctn .drugstore:nth-child(95) {
  animation-delay: 470s;
}

.tower-ctn .drugstore:nth-child(96) {
  animation-delay: 475s;
}

.tower-ctn .drugstore:nth-child(97) {
  animation-delay: 480s;
}

.tower-ctn .drugstore:nth-child(98) {
  animation-delay: 485s;
}

.tower-ctn .drugstore:nth-child(99) {
  animation-delay: 490s;
}

.tower-ctn .drugstore:nth-child(100) {
  animation-delay: 495s;
}

.tower-ctn .drugstore:nth-child(101) {
  animation-delay: 500s;
}

.tower-ctn .drugstore:nth-child(102) {
  animation-delay: 505s;
}

.tower-ctn .drugstore:nth-child(103) {
  animation-delay: 510s;
}

.tower-ctn .drugstore:nth-child(104) {
  animation-delay: 515s;
}

.tower-ctn .drugstore:nth-child(105) {
  animation-delay: 520s;
}

.tower-ctn .drugstore:nth-child(106) {
  animation-delay: 525s;
}

.tower-ctn .drugstore:nth-child(107) {
  animation-delay: 530s;
}

.tower-ctn .drugstore:nth-child(108) {
  animation-delay: 535s;
}

.tower-ctn .drugstore:nth-child(109) {
  animation-delay: 540s;
}

.tower-ctn .drugstore:nth-child(110) {
  animation-delay: 545s;
}

.tower-ctn .drugstore:nth-child(111) {
  animation-delay: 550s;
}

.tower-ctn .drugstore:nth-child(112) {
  animation-delay: 555s;
}

.tower-ctn .drugstore:nth-child(113) {
  animation-delay: 560s;
}

.tower-ctn .drugstore:nth-child(114) {
  animation-delay: 565s;
}

.tower-ctn .drugstore:nth-child(115) {
  animation-delay: 570s;
}

.tower-ctn .drugstore:nth-child(116) {
  animation-delay: 575s;
}

.tower-ctn .drugstore:nth-child(117) {
  animation-delay: 580s;
}

.tower-ctn .drugstore:nth-child(118) {
  animation-delay: 585s;
}

.tower-ctn .drugstore:nth-child(119) {
  animation-delay: 590s;
}

.tower-ctn .drugstore:nth-child(120) {
  animation-delay: 595s;
}

.tower-ctn .drugstore:nth-child(121) {
  animation-delay: 600s;
}

.tower-ctn .drugstore:nth-child(122) {
  animation-delay: 605s;
}

.tower-ctn .drugstore:nth-child(123) {
  animation-delay: 610s;
}

.tower-ctn .drugstore:nth-child(124) {
  animation-delay: 615s;
}

.tower-ctn .drugstore:nth-child(125) {
  animation-delay: 620s;
}

.tower-ctn .drugstore:nth-child(126) {
  animation-delay: 625s;
}

.tower-ctn .drugstore:nth-child(127) {
  animation-delay: 630s;
}

.tower-ctn .drugstore:nth-child(128) {
  animation-delay: 635s;
}

.tower-ctn .drugstore:nth-child(129) {
  animation-delay: 640s;
}

.tower-ctn .drugstore:nth-child(130) {
  animation-delay: 645s;
}

.tower-ctn .drugstore:nth-child(131) {
  animation-delay: 650s;
}

.tower-ctn .drugstore:nth-child(132) {
  animation-delay: 655s;
}

.tower-ctn .drugstore:nth-child(133) {
  animation-delay: 660s;
}

.tower-ctn .drugstore:nth-child(134) {
  animation-delay: 665s;
}

.tower-ctn .drugstore:nth-child(135) {
  animation-delay: 670s;
}

.tower-ctn .drugstore:nth-child(136) {
  animation-delay: 675s;
}

.tower-ctn .drugstore:nth-child(137) {
  animation-delay: 680s;
}

.tower-ctn .drugstore:nth-child(138) {
  animation-delay: 685s;
}

.tower-ctn .drugstore:nth-child(139) {
  animation-delay: 690s;
}

.tower-ctn .drugstore:nth-child(140) {
  animation-delay: 695s;
}

.tower-ctn .drugstore:nth-child(141) {
  animation-delay: 700s;
}

.tower-ctn .drugstore:nth-child(142) {
  animation-delay: 705s;
}

.tower-ctn .drugstore:nth-child(143) {
  animation-delay: 710s;
}

.tower-ctn .drugstore:nth-child(144) {
  animation-delay: 715s;
}

.tower-ctn .drugstore:nth-child(145) {
  animation-delay: 720s;
}

.tower-ctn .drugstore:nth-child(146) {
  animation-delay: 725s;
}

.tower-ctn .drugstore:nth-child(147) {
  animation-delay: 730s;
}

.tower-ctn .drugstore:nth-child(148) {
  animation-delay: 735s;
}

.tower-ctn .drugstore:nth-child(149) {
  animation-delay: 740s;
}

.tower-ctn .drugstore:nth-child(150) {
  animation-delay: 745s;
}

.tower-ctn .drugstore:nth-child(151) {
  animation-delay: 750s;
}

.tower-ctn .drugstore:nth-child(152) {
  animation-delay: 755s;
}

.tower-ctn .drugstore:nth-child(153) {
  animation-delay: 760s;
}

.tower-ctn .drugstore:nth-child(154) {
  animation-delay: 765s;
}

.tower-ctn .drugstore:nth-child(154) {
  animation-delay: 770s;
}

.tower-ctn .drugstore:nth-child(155) {
  animation-delay: 775s;
}

.tower-ctn .drugstore:nth-child(156) {
  animation-delay: 780s;
}

.tower-ctn .drugstore:nth-child(157) {
  animation-delay: 785s;
}

.tower-ctn .drugstore:nth-child(158) {
  animation-delay: 790s;
}

.tower-ctn .drugstore:nth-child(159) {
  animation-delay: 795s;
}

.tower-ctn .drugstore:nth-child(160) {
  animation-delay: 800s;
}

.tower-ctn .drugstore:nth-child(161) {
  animation-delay: 805s;
}

.tower-ctn .drugstore:nth-child(162) {
  animation-delay: 810s;
}

.tower-ctn .drugstore:nth-child(163) {
  animation-delay: 815s;
}

.tower-ctn .drugstore:nth-child(164) {
  animation-delay: 820s;
}

.tower-ctn .drugstore:nth-child(165) {
  animation-delay: 825s;
}

.tower-ctn .drugstore:nth-child(166) {
  animation-delay: 830s;
}

.tower-ctn .drugstore:nth-child(167) {
  animation-delay: 835s;
}

.tower-ctn .drugstore:nth-child(168) {
  animation-delay: 840s;
}

.tower-ctn .drugstore:nth-child(169) {
  animation-delay: 845s;
}

.tower-ctn .drugstore:nth-child(170) {
  animation-delay: 850s;
}

.tower-ctn .drugstore:nth-child(171) {
  animation-delay: 855s;
}

.tower-ctn .drugstore:nth-child(172) {
  animation-delay: 860s;
}

.tower-ctn .drugstore:nth-child(173) {
  animation-delay: 865s;
}

.tower-ctn .drugstore:nth-child(174) {
  animation-delay: 870s;
}

.tower-ctn .drugstore:nth-child(175) {
  animation-delay: 875s;
}

.tower-ctn .drugstore:nth-child(176) {
  animation-delay: 880s;
}

.tower-ctn .drugstore:nth-child(177) {
  animation-delay: 885s;
}

.tower-ctn .drugstore:nth-child(178) {
  animation-delay: 890s;
}

.tower-ctn .drugstore:nth-child(179) {
  animation-delay: 895s;
}
.tower-ctn .drugstore:nth-child(180) {
  animation-delay: 900s;
}

.tower-ctn .drugstore:nth-child(181) {
  animation-delay: 905s;
}

.tower-ctn .drugstore:nth-child(182) {
  animation-delay: 910s;
}

.tower-ctn .drugstore:nth-child(183) {
  animation-delay: 915s;
}

.tower-ctn .drugstore:nth-child(184) {
  animation-delay: 920s;
}

.tower-ctn .drugstore:nth-child(185) {
  animation-delay: 925s;
}

.tower-ctn .drugstore:nth-child(186) {
  animation-delay: 930s;
}

.tower-ctn .drugstore:nth-child(187) {
  animation-delay: 935s;
}

.tower-ctn .drugstore:nth-child(188) {
  animation-delay: 940s;
}

.tower-ctn .drugstore:nth-child(189) {
  animation-delay: 945s;
}

.tower-ctn .drugstore:nth-child(190) {
  animation-delay: 950s;
}

.tower-ctn .drugstore:nth-child(191) {
  animation-delay: 955s;
}

.tower-ctn .drugstore:nth-child(192) {
  animation-delay: 960s;
}

.tower-ctn .drugstore:nth-child(193) {
  animation-delay: 965s;
}

.tower-ctn .drugstore:nth-child(194) {
  animation-delay: 960s;
}

.tower-ctn .drugstore:nth-child(195) {
  animation-delay: 965s;
}

.tower-ctn .drugstore:nth-child(196) {
  animation-delay: 970s;
}

.tower-ctn .drugstore:nth-child(197) {
  animation-delay: 975s;
}

.tower-ctn .drugstore:nth-child(198) {
  animation-delay: 980s;
}

.tower-ctn .drugstore:nth-child(199) {
  animation-delay: 985s;
}

.tower-ctn .drugstore:nth-child(200) {
  animation-delay: 990s;
}

@media (min-width: 901px) {
  .tower-ctn {
    margin-bottom: 2em;
  }

  .tower-ctn .drugstore {
    margin-top: -1.5em;
  }
}

/* END TOWER */

/* STATISTICS */
.statistics {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: 100%;
  background: #fff;
}

.statistics .statistic-detail {
  width: 32%;
  margin: 2.5em 1em;
  padding-left: 1.5em;
}

.statistics .statistic-detail:nth-child(2),
.statistics .statistic-detail:nth-child(3) {
  border-left: 1px solid #3392f7;
}

.statistic-detail label {
  width: 100%;
  font-weight: bold;
}

.statistic-detail .statistic-score {
  font-size: 2.25em;
  color: var(--color-primary);
}

.statistic-detail span {
  float: right;
  background-color: #3392f7;
  font-size: .8em;
  color: #fff;
  padding: .25em .5em;
  border-radius: 1em;
  margin-top: 1em;
}

@media (max-width: 685px) {
  .statistics {
    flex-direction: column;
  }

  .statistics .statistic-detail {
    width: 96%;
    padding: 0 1.5em;
  }

  .statistics .statistic-detail:nth-child(2),
  .statistics .statistic-detail:nth-child(3) {
    border-left: none;
  }
}

/* END STATISTICS */


/* FOOTER STYLE */
.footer-container {
  max-width: 1170px;
  margin: auto;
  font-family: Montserrat;
  bottom: 0;
}

.footer-container .row {
  display: flex;
  flex-wrap: wrap;
}

.footer-container .row ul {
  list-style: none;
}

.footer {
  background-color: #073465;
  padding: 3em .5em;
  width: 100%;
  margin-top: 2.5em;
}

.footer-col {
  padding: 0 12px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--color-secondary);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #b5d9ff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 2em;
  width: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--color-primary);
  background-color: #fff;
}

.footer-col .info-detail {
  color: #b5d9ff;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer-col .info-detail i {
  color: var(--color-secondary);
  font-size: 1.15em;
  margin-right: .25em;
}

.footer-col .download-app {
  display: flex;
  margin: 1em -4px;
}

.footer-col .download-app a:nth-child(2) {
  margin-left: 2%;
}

.footer-col .download-app a img {
  width: 50%;
  padding: 4px;
  border-radius: 1em;
}

.footer-col .download-app a img:hover {
  border: 2px solid var(--color-secondary);
  border-radius: 1em;
}



.privacy {
  /* border-top: 2px solid #FFA500;
  border-bottom: 2px solid #FFA500; */
  width: 100%;
  margin-bottom: -2rem;
}

.privacy-item {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.privacy-item a {
  text-decoration: none;
  font-size: 14px;
  color: #d3d3d3;
}

.cookie {
  margin-left: 12%;
}

@media (max-width: 950px) {
  .privacy-item a {
    font-size: 10px;
    margin-bottom: 15px;
  }
}

@media(min-width: 801px) {
  .footer-col:nth-child(2) {
    width: 60%;
  }

  .footer-col:first-child,
  .footer-col:nth-child(4) {
    width: 17%;
  }

  .footer-col:nth-child(3) {
    width: 23%;
  }

  .footer-col .download-app {
    display: contents;
    margin: 1em -4px;
  }

  .footer-col .download-app a img {
    width: 50%;
    padding: 4px;
    border-radius: 1em;
  }


}

.pays_flag {
  width: 100%;
}

.pays_flag a {
  text-decoration: none;
}

.pays_flag span {
  font-size: 1.5em;
  border-radius: 4px;
  margin-bottom: 1em;
  margin-left: 3px;
}

@media(max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col:first-child img {
    height: 3.5em;
  }

  .footer-col .download-app {
    display: flex;
    margin: 1em -4px;
  }

  .footer-col .download-app a img {
    width: 50%;
    padding: 4px;
    border-radius: 1em;
  }

  .privacy-item a {
    font-size: 10px;
    display: block;
    margin-bottom: 15px;
  }

  .cookie,
  .blog {
    margin: 0 10px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }

  .footer-col .download-app a img {
    border-radius: 1em;
  }

  .footer-col .download-app a img:hover {
    border-radius: 1em;
  }

  .footer-col .download-app a:nth-child(2) {
    margin-left: 4%;
  }

  .footer-col .download-app {
    display: flex;
    margin: 1em -4px;
  }

  .footer-col .download-app a img {
    width: 50%;
    padding: 4px;
    border-radius: 1em;
  }
}

/* END FOOTER STYLE */


/* MEDIA QUERIES - RESPONSIVE */

@media (min-width: 1128px) {
  .section-one h1 {
    width: 25vw;
  }

  .blog-one h1 {
    width: 25vw;
  }
}

@media (min-width: 901px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
  }

  .main-navlinks {
    width: 75%;
  }

  .nav-icon {
    width: 25%;
  }

  .nav-authentication {
    width: 92px;
    margin-left: auto;
  }

  .section-one {
    margin: 3.5em 3.5em;
  }

  .blog-one {
    margin: 3.5em 0;
  }

  .section-one h1 {
    width: 35vw;
  }

  .blog-one h1 {
    width: 35vw;
  }

  .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  }

  .categories {
    float: left;
  }

  .advertising {
    float: right;
  }

  .sb-container {
    margin-top: 3.5em;
  }

  .search-form .search-field:first-child {
    width: 45%;
  }

  .search-form .search-field:nth-child(2),
  .search-form .search-field:nth-child(3) {
    width: 35%;
  }

  /* .search-form .search-field:nth-child(4) {width: 40%;} */
  .search-form .search-button {
    width: 15%;
  }

}

@media (max-width: 1024px) {
  .section-one {
    margin: 1.5em 3.5em;
  }

  .blog-one {
    margin: 1.5em 3.5em;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .container {
    margin-top: 1.5em;
  }

  .categories {
    width: 68%;
    float: left;
  }

  .advertising {
    width: 30%;
    float: right;
  }

  .section-one {
    margin: 1.5em 2em;
  }

  .blog-one {
    margin: 1.5em 2em;
  }

  .section-one h1 {
    width: 50vw;
  }

  .blog-one h1 {
    width: 50vw;
  }

  .sb-container {
    margin-top: -2em;
    aspect-ratio: 3/3 !important;
  }

  .search-bar {
    margin-top: -3.5em;
    margin-bottom: -3.5em;
  }

  .search-text h1 {
    padding-top: 2em;
    font-size: 15px;
  }

  .search-form {
    margin: 10%;
  }

  .search-form .search-field {
    width: 92%;
  }

  .dropdown-content {
    margin-left: 1.5em;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }

  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: block;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 4px 50px 15px 30px;
    transform: translate(-100%);
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 14px;
    margin: 10px 0
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }

  .account {
    display: none;
  }

  .sign-user {
    display: block;
    cursor: pointer;
    border: none;
  }

  .sign-user i {
    font-size: 32px;
    color: var(--color-primary);
  }

  .map {
    margin: 4em 4em 0 4em;
    border-radius: 0;
    border-width: .25em;
  }

  .map iframe {
    border-radius: 0;
  }

}

@media (max-width: 800px) {

  .magazines .magazine {
    width: 48%;
  }

  .magazines .magazine:nth-child(2) {
    margin-left: 4%;
  }

  .magazines .magazine:nth-child(3) {
    margin-left: 0;
    margin-top: 5em;
  }

}

@media (max-width: 750px) {

  .section-one {
    margin: 1.5em 2em;
  }

  .blog-one {
    margin: 1.5em 2em;
  }

  .blog-one {
    margin: 1.5em 0;
  }

  .categories {
    width: 100%;
    float: none;
    margin-bottom: 2em;
  }

  .advertising {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .magazines {
    width: 75%;
  }

  .magazines .magazine {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .magazines .magazine:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: .5em;
  }

  .nav-icon img {
    height: 30px;
  }

  .nav-icon span {
    font-size: 20px;
  }

  nav ul {
    display: block;
  }
}